# coding: utf-8

"""
    App Center Client

    Microsoft Visual Studio App Center API  # noqa: E501

    OpenAPI spec version: preview
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from appcenter.api_client import ApiClient


class AnalyticsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def analytics_audience_name_exists(self, audience_name, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_audience_name_exists  # noqa: E501

        Returns whether audience definition exists.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_audience_name_exists(audience_name, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str audience_name: The name of the audience (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_audience_name_exists_with_http_info(audience_name, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_audience_name_exists_with_http_info(audience_name, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_audience_name_exists_with_http_info(self, audience_name, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_audience_name_exists  # noqa: E501

        Returns whether audience definition exists.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_audience_name_exists_with_http_info(audience_name, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str audience_name: The name of the audience (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['audience_name', 'owner_name', 'app_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_audience_name_exists" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'audience_name' is set
        if ('audience_name' not in params or
                params['audience_name'] is None):
            raise ValueError("Missing the required parameter `audience_name` when calling `analytics_audience_name_exists`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_audience_name_exists`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_audience_name_exists`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'audience_name' in params:
            path_params['audience_name'] = params['audience_name']  # noqa: E501
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/audiences/{audience_name}', 'HEAD',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_crash_counts(self, start, owner_name, app_name, **kwargs):  # noqa: E501
        """Available for UWP apps only.  # noqa: E501

        Count of crashes by day in the time range based the selected versions. Available for UWP apps only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_counts(start, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :param list[str] versions:
        :return: CrashCounts
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_crash_counts_with_http_info(start, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_crash_counts_with_http_info(start, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_crash_counts_with_http_info(self, start, owner_name, app_name, **kwargs):  # noqa: E501
        """Available for UWP apps only.  # noqa: E501

        Count of crashes by day in the time range based the selected versions. Available for UWP apps only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_counts_with_http_info(start, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :param list[str] versions:
        :return: CrashCounts
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start', 'owner_name', 'app_name', 'end', 'versions']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_crash_counts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `analytics_crash_counts`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_crash_counts`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_crash_counts`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501
        if 'versions' in params:
            query_params.append(('versions', params['versions']))  # noqa: E501
            collection_formats['versions'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/crash_counts', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CrashCounts',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_crash_free_device_percentages(self, start, version, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_crash_free_device_percentages  # noqa: E501

        Percentage of crash-free device by day in the time range based on the selected versions. Api will return -1 if crash devices is greater than active devices.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_free_device_percentages(start, version, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str version: (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :return: CrashFreeDevicePercentages
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_crash_free_device_percentages_with_http_info(start, version, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_crash_free_device_percentages_with_http_info(start, version, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_crash_free_device_percentages_with_http_info(self, start, version, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_crash_free_device_percentages  # noqa: E501

        Percentage of crash-free device by day in the time range based on the selected versions. Api will return -1 if crash devices is greater than active devices.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_free_device_percentages_with_http_info(start, version, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str version: (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :return: CrashFreeDevicePercentages
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start', 'version', 'owner_name', 'app_name', 'end']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_crash_free_device_percentages" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `analytics_crash_free_device_percentages`")  # noqa: E501
        # verify the required parameter 'version' is set
        if ('version' not in params or
                params['version'] is None):
            raise ValueError("Missing the required parameter `version` when calling `analytics_crash_free_device_percentages`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_crash_free_device_percentages`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_crash_free_device_percentages`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501
        if 'version' in params:
            query_params.append(('version', params['version']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/crashfree_device_percentages', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CrashFreeDevicePercentages',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_crash_group_counts(self, crash_group_id, version, start, owner_name, app_name, **kwargs):  # noqa: E501
        """Available for UWP apps only.  # noqa: E501

        Count of crashes by day in the time range of the selected crash group with selected version. Available for UWP apps only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_group_counts(crash_group_id, version, start, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str crash_group_id: The id of the crash group. (required)
        :param str version: (required)
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :return: CrashCounts
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_crash_group_counts_with_http_info(crash_group_id, version, start, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_crash_group_counts_with_http_info(crash_group_id, version, start, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_crash_group_counts_with_http_info(self, crash_group_id, version, start, owner_name, app_name, **kwargs):  # noqa: E501
        """Available for UWP apps only.  # noqa: E501

        Count of crashes by day in the time range of the selected crash group with selected version. Available for UWP apps only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_group_counts_with_http_info(crash_group_id, version, start, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str crash_group_id: The id of the crash group. (required)
        :param str version: (required)
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :return: CrashCounts
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['crash_group_id', 'version', 'start', 'owner_name', 'app_name', 'end']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_crash_group_counts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'crash_group_id' is set
        if ('crash_group_id' not in params or
                params['crash_group_id'] is None):
            raise ValueError("Missing the required parameter `crash_group_id` when calling `analytics_crash_group_counts`")  # noqa: E501
        # verify the required parameter 'version' is set
        if ('version' not in params or
                params['version'] is None):
            raise ValueError("Missing the required parameter `version` when calling `analytics_crash_group_counts`")  # noqa: E501
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `analytics_crash_group_counts`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_crash_group_counts`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_crash_group_counts`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'crash_group_id' in params:
            path_params['crash_group_id'] = params['crash_group_id']  # noqa: E501
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []
        if 'version' in params:
            query_params.append(('version', params['version']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/crash_groups/{crash_group_id}/crash_counts', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CrashCounts',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_crash_group_model_counts(self, crash_group_id, version, owner_name, app_name, **kwargs):  # noqa: E501
        """Available for UWP apps only.  # noqa: E501

        Top models of the selected crash group with selected version. Available for UWP apps only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_group_model_counts(crash_group_id, version, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str crash_group_id: The id of the crash group. (required)
        :param str version: (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param int top: The maximum number of results to return. (0 will fetch all results)
        :return: CrashGroupModels
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_crash_group_model_counts_with_http_info(crash_group_id, version, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_crash_group_model_counts_with_http_info(crash_group_id, version, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_crash_group_model_counts_with_http_info(self, crash_group_id, version, owner_name, app_name, **kwargs):  # noqa: E501
        """Available for UWP apps only.  # noqa: E501

        Top models of the selected crash group with selected version. Available for UWP apps only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_group_model_counts_with_http_info(crash_group_id, version, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str crash_group_id: The id of the crash group. (required)
        :param str version: (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param int top: The maximum number of results to return. (0 will fetch all results)
        :return: CrashGroupModels
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['crash_group_id', 'version', 'owner_name', 'app_name', 'top']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_crash_group_model_counts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'crash_group_id' is set
        if ('crash_group_id' not in params or
                params['crash_group_id'] is None):
            raise ValueError("Missing the required parameter `crash_group_id` when calling `analytics_crash_group_model_counts`")  # noqa: E501
        # verify the required parameter 'version' is set
        if ('version' not in params or
                params['version'] is None):
            raise ValueError("Missing the required parameter `version` when calling `analytics_crash_group_model_counts`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_crash_group_model_counts`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_crash_group_model_counts`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'crash_group_id' in params:
            path_params['crash_group_id'] = params['crash_group_id']  # noqa: E501
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []
        if 'version' in params:
            query_params.append(('version', params['version']))  # noqa: E501
        if 'top' in params:
            query_params.append(('$top', params['top']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/crash_groups/{crash_group_id}/models', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CrashGroupModels',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_crash_group_operating_system_counts(self, crash_group_id, version, owner_name, app_name, **kwargs):  # noqa: E501
        """Available for UWP apps only.  # noqa: E501

        Top OSes of the selected crash group with selected version. Available for UWP apps only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_group_operating_system_counts(crash_group_id, version, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str crash_group_id: The id of the crash group. (required)
        :param str version: (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param int top: The maximum number of results to return. (0 will fetch all results)
        :return: CrashGroupOperatingSystems
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_crash_group_operating_system_counts_with_http_info(crash_group_id, version, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_crash_group_operating_system_counts_with_http_info(crash_group_id, version, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_crash_group_operating_system_counts_with_http_info(self, crash_group_id, version, owner_name, app_name, **kwargs):  # noqa: E501
        """Available for UWP apps only.  # noqa: E501

        Top OSes of the selected crash group with selected version. Available for UWP apps only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_group_operating_system_counts_with_http_info(crash_group_id, version, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str crash_group_id: The id of the crash group. (required)
        :param str version: (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param int top: The maximum number of results to return. (0 will fetch all results)
        :return: CrashGroupOperatingSystems
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['crash_group_id', 'version', 'owner_name', 'app_name', 'top']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_crash_group_operating_system_counts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'crash_group_id' is set
        if ('crash_group_id' not in params or
                params['crash_group_id'] is None):
            raise ValueError("Missing the required parameter `crash_group_id` when calling `analytics_crash_group_operating_system_counts`")  # noqa: E501
        # verify the required parameter 'version' is set
        if ('version' not in params or
                params['version'] is None):
            raise ValueError("Missing the required parameter `version` when calling `analytics_crash_group_operating_system_counts`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_crash_group_operating_system_counts`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_crash_group_operating_system_counts`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'crash_group_id' in params:
            path_params['crash_group_id'] = params['crash_group_id']  # noqa: E501
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []
        if 'version' in params:
            query_params.append(('version', params['version']))  # noqa: E501
        if 'top' in params:
            query_params.append(('$top', params['top']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/crash_groups/{crash_group_id}/operating_systems', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CrashGroupOperatingSystems',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_crash_group_totals(self, crash_group_id, version, owner_name, app_name, **kwargs):  # noqa: E501
        """Available for UWP apps only.  # noqa: E501

        Overall crashes and affected users count of the selected crash group with selected version. Available for UWP apps only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_group_totals(crash_group_id, version, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str crash_group_id: The id of the crash group. (required)
        :param str version: (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: CrashOverall
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_crash_group_totals_with_http_info(crash_group_id, version, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_crash_group_totals_with_http_info(crash_group_id, version, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_crash_group_totals_with_http_info(self, crash_group_id, version, owner_name, app_name, **kwargs):  # noqa: E501
        """Available for UWP apps only.  # noqa: E501

        Overall crashes and affected users count of the selected crash group with selected version. Available for UWP apps only.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_group_totals_with_http_info(crash_group_id, version, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str crash_group_id: The id of the crash group. (required)
        :param str version: (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: CrashOverall
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['crash_group_id', 'version', 'owner_name', 'app_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_crash_group_totals" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'crash_group_id' is set
        if ('crash_group_id' not in params or
                params['crash_group_id'] is None):
            raise ValueError("Missing the required parameter `crash_group_id` when calling `analytics_crash_group_totals`")  # noqa: E501
        # verify the required parameter 'version' is set
        if ('version' not in params or
                params['version'] is None):
            raise ValueError("Missing the required parameter `version` when calling `analytics_crash_group_totals`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_crash_group_totals`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_crash_group_totals`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'crash_group_id' in params:
            path_params['crash_group_id'] = params['crash_group_id']  # noqa: E501
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []
        if 'version' in params:
            query_params.append(('version', params['version']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/crash_groups/{crash_group_id}/overall', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CrashOverall',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_crash_groups_totals(self, body, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_crash_groups_totals  # noqa: E501

        Overall crashes and affected users count of the selected crash groups with selected versions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_groups_totals(body, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CrashGroupContainer body: (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: CrashesOverall
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_crash_groups_totals_with_http_info(body, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_crash_groups_totals_with_http_info(body, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_crash_groups_totals_with_http_info(self, body, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_crash_groups_totals  # noqa: E501

        Overall crashes and affected users count of the selected crash groups with selected versions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_crash_groups_totals_with_http_info(body, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CrashGroupContainer body: (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: CrashesOverall
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'owner_name', 'app_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_crash_groups_totals" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `analytics_crash_groups_totals`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_crash_groups_totals`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_crash_groups_totals`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/crash_groups', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CrashesOverall',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_create_or_update_audience(self, body, audience_name, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_create_or_update_audience  # noqa: E501

        Creates or updates audience definition.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_create_or_update_audience(body, audience_name, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AudienceDefinition body: Audience definition (required)
        :param str audience_name: The name of the audience (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: Audience
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_create_or_update_audience_with_http_info(body, audience_name, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_create_or_update_audience_with_http_info(body, audience_name, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_create_or_update_audience_with_http_info(self, body, audience_name, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_create_or_update_audience  # noqa: E501

        Creates or updates audience definition.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_create_or_update_audience_with_http_info(body, audience_name, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AudienceDefinition body: Audience definition (required)
        :param str audience_name: The name of the audience (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: Audience
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'audience_name', 'owner_name', 'app_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_create_or_update_audience" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `analytics_create_or_update_audience`")  # noqa: E501
        # verify the required parameter 'audience_name' is set
        if ('audience_name' not in params or
                params['audience_name'] is None):
            raise ValueError("Missing the required parameter `audience_name` when calling `analytics_create_or_update_audience`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_create_or_update_audience`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_create_or_update_audience`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'audience_name' in params:
            path_params['audience_name'] = params['audience_name']  # noqa: E501
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/audiences/{audience_name}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Audience',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_delete_audience(self, audience_name, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_delete_audience  # noqa: E501

        Deletes audience definition.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_delete_audience(audience_name, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str audience_name: The name of the audience (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_delete_audience_with_http_info(audience_name, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_delete_audience_with_http_info(audience_name, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_delete_audience_with_http_info(self, audience_name, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_delete_audience  # noqa: E501

        Deletes audience definition.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_delete_audience_with_http_info(audience_name, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str audience_name: The name of the audience (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['audience_name', 'owner_name', 'app_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_delete_audience" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'audience_name' is set
        if ('audience_name' not in params or
                params['audience_name'] is None):
            raise ValueError("Missing the required parameter `audience_name` when calling `analytics_delete_audience`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_delete_audience`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_delete_audience`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'audience_name' in params:
            path_params['audience_name'] = params['audience_name']  # noqa: E501
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/audiences/{audience_name}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_device_counts(self, start, app_build, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_device_counts  # noqa: E501

        Count of active devices by interval in the time range.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_device_counts(start, app_build, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str app_build: (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :param list[str] versions:
        :return: ActiveDeviceCounts
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_device_counts_with_http_info(start, app_build, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_device_counts_with_http_info(start, app_build, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_device_counts_with_http_info(self, start, app_build, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_device_counts  # noqa: E501

        Count of active devices by interval in the time range.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_device_counts_with_http_info(start, app_build, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str app_build: (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :param list[str] versions:
        :return: ActiveDeviceCounts
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start', 'app_build', 'owner_name', 'app_name', 'end', 'versions']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_device_counts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `analytics_device_counts`")  # noqa: E501
        # verify the required parameter 'app_build' is set
        if ('app_build' not in params or
                params['app_build'] is None):
            raise ValueError("Missing the required parameter `app_build` when calling `analytics_device_counts`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_device_counts`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_device_counts`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501
        if 'versions' in params:
            query_params.append(('versions', params['versions']))  # noqa: E501
            collection_formats['versions'] = 'multi'  # noqa: E501
        if 'app_build' in params:
            query_params.append(('app_build', params['app_build']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/active_device_counts', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ActiveDeviceCounts',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_distribution_release_counts(self, body, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_distribution_release_counts  # noqa: E501

        Count of total downloads for the provided distribution releases.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_distribution_release_counts(body, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GetReleasesContainer body: The releases to retrieve. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: ReleaseCounts
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_distribution_release_counts_with_http_info(body, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_distribution_release_counts_with_http_info(body, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_distribution_release_counts_with_http_info(self, body, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_distribution_release_counts  # noqa: E501

        Count of total downloads for the provided distribution releases.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_distribution_release_counts_with_http_info(body, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GetReleasesContainer body: The releases to retrieve. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: ReleaseCounts
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'owner_name', 'app_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_distribution_release_counts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `analytics_distribution_release_counts`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_distribution_release_counts`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_distribution_release_counts`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/distribution/release_counts', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReleaseCounts',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_event_count(self, event_name, start, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_event_count  # noqa: E501

        Count of events by interval in the time range.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_event_count(event_name, start, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str event_name: The id of the event. (required)
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :param list[str] versions:
        :return: EventCount
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_event_count_with_http_info(event_name, start, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_event_count_with_http_info(event_name, start, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_event_count_with_http_info(self, event_name, start, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_event_count  # noqa: E501

        Count of events by interval in the time range.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_event_count_with_http_info(event_name, start, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str event_name: The id of the event. (required)
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :param list[str] versions:
        :return: EventCount
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['event_name', 'start', 'owner_name', 'app_name', 'end', 'versions']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_event_count" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'event_name' is set
        if ('event_name' not in params or
                params['event_name'] is None):
            raise ValueError("Missing the required parameter `event_name` when calling `analytics_event_count`")  # noqa: E501
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `analytics_event_count`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_event_count`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_event_count`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'event_name' in params:
            path_params['event_name'] = params['event_name']  # noqa: E501
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501
        if 'versions' in params:
            query_params.append(('versions', params['versions']))  # noqa: E501
            collection_formats['versions'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/events/{event_name}/event_count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EventCount',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_event_device_count(self, event_name, start, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_event_device_count  # noqa: E501

        Count of devices for an event by interval in the time range.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_event_device_count(event_name, start, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str event_name: The id of the event. (required)
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :param list[str] versions:
        :return: EventDeviceCount
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_event_device_count_with_http_info(event_name, start, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_event_device_count_with_http_info(event_name, start, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_event_device_count_with_http_info(self, event_name, start, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_event_device_count  # noqa: E501

        Count of devices for an event by interval in the time range.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_event_device_count_with_http_info(event_name, start, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str event_name: The id of the event. (required)
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :param list[str] versions:
        :return: EventDeviceCount
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['event_name', 'start', 'owner_name', 'app_name', 'end', 'versions']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_event_device_count" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'event_name' is set
        if ('event_name' not in params or
                params['event_name'] is None):
            raise ValueError("Missing the required parameter `event_name` when calling `analytics_event_device_count`")  # noqa: E501
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `analytics_event_device_count`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_event_device_count`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_event_device_count`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'event_name' in params:
            path_params['event_name'] = params['event_name']  # noqa: E501
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501
        if 'versions' in params:
            query_params.append(('versions', params['versions']))  # noqa: E501
            collection_formats['versions'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/events/{event_name}/device_count', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EventDeviceCount',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_event_per_device_count(self, event_name, start, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_event_per_device_count  # noqa: E501

        Count of events per device by interval in the time range.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_event_per_device_count(event_name, start, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str event_name: The id of the event. (required)
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :param list[str] versions:
        :return: EventCountPerDevice
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_event_per_device_count_with_http_info(event_name, start, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_event_per_device_count_with_http_info(event_name, start, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_event_per_device_count_with_http_info(self, event_name, start, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_event_per_device_count  # noqa: E501

        Count of events per device by interval in the time range.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_event_per_device_count_with_http_info(event_name, start, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str event_name: The id of the event. (required)
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :param list[str] versions:
        :return: EventCountPerDevice
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['event_name', 'start', 'owner_name', 'app_name', 'end', 'versions']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_event_per_device_count" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'event_name' is set
        if ('event_name' not in params or
                params['event_name'] is None):
            raise ValueError("Missing the required parameter `event_name` when calling `analytics_event_per_device_count`")  # noqa: E501
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `analytics_event_per_device_count`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_event_per_device_count`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_event_per_device_count`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'event_name' in params:
            path_params['event_name'] = params['event_name']  # noqa: E501
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501
        if 'versions' in params:
            query_params.append(('versions', params['versions']))  # noqa: E501
            collection_formats['versions'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/events/{event_name}/count_per_device', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EventCountPerDevice',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_event_per_session_count(self, event_name, start, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_event_per_session_count  # noqa: E501

        Count of events per session by interval in the time range.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_event_per_session_count(event_name, start, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str event_name: The id of the event. (required)
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :param list[str] versions:
        :return: EventCountPerSession
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_event_per_session_count_with_http_info(event_name, start, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_event_per_session_count_with_http_info(event_name, start, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_event_per_session_count_with_http_info(self, event_name, start, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_event_per_session_count  # noqa: E501

        Count of events per session by interval in the time range.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_event_per_session_count_with_http_info(event_name, start, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str event_name: The id of the event. (required)
        :param datetime start: Start date time in data in ISO 8601 date time format. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :param datetime end: Last date time in data in ISO 8601 date time format.
        :param list[str] versions:
        :return: EventCountPerSession
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['event_name', 'start', 'owner_name', 'app_name', 'end', 'versions']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_event_per_session_count" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'event_name' is set
        if ('event_name' not in params or
                params['event_name'] is None):
            raise ValueError("Missing the required parameter `event_name` when calling `analytics_event_per_session_count`")  # noqa: E501
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `analytics_event_per_session_count`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_event_per_session_count`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_event_per_session_count`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'event_name' in params:
            path_params['event_name'] = params['event_name']  # noqa: E501
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501
        if 'versions' in params:
            query_params.append(('versions', params['versions']))  # noqa: E501
            collection_formats['versions'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
            '/v0.1/apps/{owner_name}/{app_name}/analytics/events/{event_name}/count_per_session', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='EventCountPerSession',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def analytics_event_properties(self, event_name, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_event_properties  # noqa: E501

        Event properties.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_event_properties(event_name, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str event_name: The id of the event. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: EventProperties
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.analytics_event_properties_with_http_info(event_name, owner_name, app_name, **kwargs)  # noqa: E501
        else:
            (data) = self.analytics_event_properties_with_http_info(event_name, owner_name, app_name, **kwargs)  # noqa: E501
            return data

    def analytics_event_properties_with_http_info(self, event_name, owner_name, app_name, **kwargs):  # noqa: E501
        """analytics_event_properties  # noqa: E501

        Event properties.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.analytics_event_properties_with_http_info(event_name, owner_name, app_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str event_name: The id of the event. (required)
        :param str owner_name: The name of the owner (required)
        :param str app_name: The name of the application (required)
        :return: EventProperties
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['event_name', 'owner_name', 'app_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method analytics_event_properties" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'event_name' is set
        if ('event_name' not in params or
                params['event_name'] is None):
            raise ValueError("Missing the required parameter `event_name` when calling `analytics_event_properties`")  # noqa: E501
        # verify the required parameter 'owner_name' is set
        if ('owner_name' not in params or
                params['owner_name'] is None):
            raise ValueError("Missing the required parameter `owner_name` when calling `analytics_event_properties`")  # noqa: E501
        # verify the required parameter 'app_name' is set
        if ('app_name' not in params or
                params['app_name'] is None):
            raise ValueError("Missing the required parameter `app_name` when calling `analytics_event_properties`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'event_name' in params:
            path_params['event_name'] = params['event_name']  # noqa: E501
        if 'owner_name' in params:
            path_params['owner_name'] = params['owner_name']  # noqa: E501
        if 'app_name' in params:
            path_params['app_name'] = params['app_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['APIToken']  # noqa: E501

        return self.api_client.call_api(
[...]
