# TestReport

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**app_upload_id** | **str** |  | 
**_date** | **str** |  | 
**test_type** | **str** |  | 
**platform** | **str** |  | 
**stats** | **object** |  | 
**id** | **str** |  | 
**schema_version** | **float** |  | 
**revision** | **float** |  | 
**features** | **list[object]** |  | 
**finished_device_snapshots** | **list[str]** |  | 
**device_logs** | **list[object]** |  | 
**date_finished** | **str** |  | 
**error_message** | **str** |  | [optional] 
**snapshot_fatal_errors** | **list[object]** |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

